<html>
  <head>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/question-index.css") %>">
  </head>
  <body>

    <div class="category-header">

      <div class="category-page-title">
        Tag Info
      </div>

      <div class="category-sorts">
        <a class="category-info-sort" id="info" href = "<%= category_path(@conn, :show, @category) %>">
          info
        </a>
        <a class="category-sort" id="votes" href = "<%= question_path(@conn, :index, sort: "votes", selected_category: @category) %>">
          votes
        </a>
        <a class="category-sort" id="responses" href = "<%= question_path(@conn, :index, sort: "responses", selected_category: @category) %>">
          responses
        </a>
        <a class="category-sort" id="views" href = "<%= question_path(@conn, :index, sort: "views", selected_category: @category) %>">
          views
        </a>
        <a class="category-sort" id="date" href = "<%= question_path(@conn, :index, sort: "date", selected_category: @category) %>">
          newest
        </a>
      </div>
      <div class="bottom-line">
        <hr>
      </div>
    </div>
    <div class="category-about">

      <div class="category-header">
        <div class="about">
          About
        </div>
        <div class="category-tag">
          <%= link Categories.name(@category), to: question_path(@conn, :index, selected_category: @category) %>
        </div>

        <a href="<%= category_path(@conn, :edit, @category) %>" class="blue-button">
          Edit Category
        </a>
      </div>


      <div class="category-summary">

        <div id="title">
          <%= "[" <> name(@category) <> "]" %>
        </div>

        <div id="summary">
          <%= summary(@category) %>
        </div>

        <div class="category-stats">
          <div id="stats">
            Stats
          </div>

          <div class="category-stat">
            <div class="category-stat-type">
              created
            </div>
            <div class = "category-stat-info">
              <%= time_posted(@category) %>
            </div>
          </div>

          <div class="category-stat">
            <div class="category-stat-type">
              viewed
            </div>
            <div class = "category-stat-info">
              <%= num_category_views(@category) %>
            </div>
          </div>

          <div class="category-stat">
            <div class="category-stat-type">
              active
            </div>
            <div class = "category-stat-info">
              <%= time_updated(@category) %>
            </div>
          </div>

        </div>

      </div>

      <div class="category-long-summary">
        <%= long_summary(@category) %>
      </div>

    </div>
  </body>

</html>
