<html>
<head>
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/question.css") %>">
</head>

<body>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript">
      $(document).ready(function(){
        $("#upvote-question").click(function() {
          $.ajax({
              url: "<%= question_path(@conn, :upvote, @question) %>",
              type: "GET",
              dataType: "json",
              success: function(data){
                  if (data.upvote_successful === true)
                  {
                    var count = parseInt($('#question-vote-count').text());
                    $('#question-vote-count').text(count + 1)
                  }
              },
              error: function(error){
                   console.log("Error:");
                   console.log(error);
              }
          });
        });

        $("#downvote-question").click(function() {
          $.ajax({
              url: "<%= question_path(@conn, :downvote, @question) %>",
              type: "GET",
              dataType: "json",
              success: function(data){
                  if (data.downvote_successful === true)
                  {
                    var count = parseInt($('#question-vote-count').text());
                    $('#question-vote-count').text(count - 1)
                  }
              },
              error: function(error){
                   console.log("Error:");
                   console.log(error);
              }
          });
        });

        $("#comment-on-question").click(function() {
          $('#comment-on-question-form').show();
        });
      });
  </script>

  <div class="main-window">
    <div class="question">
      <div class ="title">
        <h2> <%= title(@question) %> </h2>
      </div>

      <hr>

      <div class="question-body">

        <div class="voting-block">
          <div class="upvote" id="upvote-question"></div>
          <div class="vote-count" id="question-vote-count">
            <%= vote_count(@question) %>
          </div>
          <div class="downvote" id="downvote-question"></div>
        </div>

        <div class="body">
          <%= body(@question) %>
        </div>

        <div class="category-tags">
          <%= for category <- list_categories(@question) do %>
            <div class="category-tag">
              <%= link Categories.name(category), to: category_path(@conn, :show, category) %>
            </div>
          <% end %>
        </div>

        <%= if current_user(@conn).is_admin or current_user(@conn).id == @question.user_id do %>
          <div class="question-edit-link">
            <a href="<%= question_path(@conn, :edit, @question) %>">edit</a>
          </div>
        <% end %>

        <button id="comment-on-question">
          add a comment
        </button>

        <%= if Accounts.id(current_user(@conn)) == Accounts.id(Questions.associated_user(@question)) do %>
          <div class="question-delete-link">
            <%= link "delete", to: question_path(@conn, :delete, @question), method: :delete, data: [confirm: "Are you sure?"], class: "question-delete-link" %>
          </div>
        <% end %>

        <div class="question-user-tag">
          <div class = "user-time-posted">
            asked <%= time_posted(@question) %>
          </div>
          <div class = "user-img">
            <img src="<%= PlungerWeb.Avatar.url({user(@question).avatar, user(@question)}) %>" width="50" height="50"/>
          </div>
          <div class = "user-name">
            <%= link user_name(@question), to: user_path(@conn, :show, user(@question)) %>
          </div>
        </div>

      </div>

      <div id="comment-on-question-form">
        <%= render PlungerWeb.CommentView, "form.html", conn: @conn, question: @question,
        comment_changeset: @comment_changeset, action: comment_path(@conn, :create, parent_type: "question", question_id: @question.id)
        %>
      </div>

    </div>

    <div class="comments">
      <%= for comment <- PlungerWeb.QuestionView.list_comments(@question) do %>
          <%= render PlungerWeb.CommentView, "show.html", comment_changeset: @comment_changeset, conn: @conn, comment: comment, question: @question %>
      <% end %>
    </div>
    <br>
    <br>
    <div class="responses">
      <%= if num_responses(@question) > 0 do %>
        <h4> <%= num_responses(@question)%> <%= response_header(@question) %></h4>
        <%= for response <- list_responses(@question) do %>
          <hr>
          <%= render PlungerWeb.ResponseView, "show.html", conn: @conn, comment_changeset: @comment_changeset, response: response, question: @question %>
        <% end %>
      <% end %>
    </div>

    <div class = "response-form">
      <%= render PlungerWeb.ResponseView, "form.html", conn: @conn,
      response_changeset: @response_changeset, action: response_path(@conn, :create, question_id: @question.id)
      %>
    </div>

  </div>

  <div class="chat-window">
    <%= render PlungerWeb.ChannelView, "show.html", question: @question %>
  </div>

</body>
