<html>
  <head>
  </head>

  <body>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){

          $("#" + "<%= @sort %>").css('border-bottom', '1px solid #F79C56');
          $("#" + "<%= @sort %>").css('font-weight', '500');
          $("#" + "<%= @sort %>").css('color', '#3B4045');
          $("#" + "<%= @sort %>").css('height', '50.5px');


          $("#" + "<%= @sort %>").hover(function() {
            $(this).css('color', '#0C0D0E');
            $(this).css('border-bottom', '1px solid #FE9B4C');
          })
        });

    </script>
  <div class="profile-bottom">
    <div class="profile-posts-header">

      <div class="profile-posts-left">
        <div class="profile-posts-title" style="color:grey;">
          <%= length(@categories) %>
        </div>
        <div class="profile-posts-title" style="font-weight:450">
          Categories
        </div>
      </div>

      <div class="profile-posts-filters">
        <a class="profile-posts-sort" id="votes" href="<%= user_path(@conn, :show, @user, tab: "categories", sort: "votes") %>">
          reputation
        </a>
        <a class="profile-posts-sort" id="name" href="<%= user_path(@conn, :show, @user, tab: "categories", sort: "name") %>">
          name
        </a>
      </div>

      <div class="bottom-line">
        <hr>
      </div>
    </div>

  <div class="activity-category-index-list">
    <table>
    <%= for category_triple <- sort_and_partition(@categories, @user, @sort, 3) do %>
      <tr class="activity-category-row">
        <%= for category <- category_triple do %>
          <td class="activity-category-cell">
            <div class="activity-category-reputation">
              <%= category_score(category, @user) %>
            </div>
            <a class="activity-category-tag" href="<%= question_path(@conn, :index, selected_category: category) %>">
              <%= CategoryView.name(category) %>
            </a>
            <div class="activity-category-num-questions">
              x <%= CategoryView.num_questions(category) %>
            </div>
          <td>
        <% end %>
      </tr>
    <% end %>
  </table>
</body>
</html>
