<html>
  <head>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/user_account.css") %>">
  </head>

  <body>

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">

      function filterSelection(c) {
        var x, i;
        x = document.getElementsByClassName("profile-post");
        if (c == "all") c = "";
        // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
        for (i = 0; i < x.length; i++) {
          w3RemoveClass(x[i], "show");
          if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
        }
      }

      // Show filtered elements
      function w3AddClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
          if (arr1.indexOf(arr2[i]) == -1) {
            element.className += " " + arr2[i];
          }
        }
      }

      // Hide elements that are not selected
      function w3RemoveClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
          while (arr1.indexOf(arr2[i]) > -1) {
            arr1.splice(arr1.indexOf(arr2[i]), 1);
          }
        }
        element.className = arr1.join(" ");
      }

      $(document).ready(function(){
        filterSelection("all")
      });

    </script>

    <div class="profile-top">
      <div class="profile-image-container">
        <div class="profile-image">
          <%= if @user.avatar == nil do %>
            <img src="/uploads/no_profile_image.gif" width=200 height=200/>
            <%= else %>
              <img src="<%= SlimOverflowWeb.Avatar.url({@user.avatar, @user}) %>" width="200" height="200"/>
          <% end %>
        </div>
        <div class="profile-image-info">
          <div class="profile-image-info-data">
            <%= reputation(@user) %>
          </div>
          <div class="profile-image-info-name">
            REPUTATION
          </div>

        </div>
      </div>
      <div class="profile-overview">
        <div class="profile-name">
          <h2> <%= name(@user) %> </h2>
        </div>
        <%= if position(@user) != "" do %>
          <div class="profile-position">
             <%= position(@user) %>
          </div>
        <% end %>

        <div class="profile-description">
          <%= if description(@user) != "" do %>
            <%= description(@user) %>
          <% else %>
            Apparently, this user prefers to keep an air of mystery about them.
          <% end %>
        </div>
      </div>
    </div>
    <div class="profile-mid">
      <div class="profile-info-container">
        <div class="profile-stats-container">

          <div class="profile-stat">
            <div class="profile-stat-data">
              <%= length(posted_responses(@user)) %>
            </div>
            <div class="profile-stat-name">
              answers
            </div>
          </div>

          <div class="profile-stat">
            <div class="profile-stat-data">
              <%= length(posted_questions(@user)) %>
            </div>
            <div class="profile-stat-name">
              questions
            </div>
          </div>

          <div class="profile-stat">
            <div class="profile-stat-data">
              <%= length(posted_comments(@user)) %>
            </div>
            <div class="profile-stat-name">
              comments
            </div>
          </div>

        </div>

        <div class="profile-stats-container-bottom">

          <div class="profile-stat-name" style="margin-top: 10px;">
            Member for <%= age(@user) %>
          </div>

          <div class="profile-stat-name" style="margin-top: 10px;">
            <%= num_profile_views(@user) %> profile <%= pluralize(num_profile_views(@user), "view") %>
          </div>
        </div>
      </div>
      <div class="profile-categories-container">
        <div class="profile-categories-title">
          <div class="profile-categories-title-name">
            Top Tags
          </div>
          <div class = "profile-categories-title-number" style="color: grey">
            (<%= num_category_reputations(@user) %>)
          </div>
        </div>
        <div class="profile-categories-list">
          <%= for category <- top_categories(@user) do %>
            <div class="profile-top-category-tag">
              <a class="profile-category-tag" href="<%= question_path(@conn, :index, selected_category: category) %>">
                <%= SlimOverflowWeb.CategoryView.name(category) %>
              </a>

              <div class="profile-category-stat-tag">
                <div class="profile-category-stat-tag-name">
                  POSTS
                </div>
                <div class="profile-category-stat-tag-data">
                  <%= num_posts_in_category(category, @user) %>
                </div>
              </div>

              <div class="profile-category-stat-tag">
                <div class="profile-category-stat-tag-name">
                  SCORE
                </div>
                <div class="profile-category-stat-tag-data">
                  <%= category_score(category, @user) %>
                </div>
              </div>

            </div>
          <% end %>
        </div>

        <a class="profile-categories-link" href="<%= user_path(@conn, :show, @user, tab: "categories") %>">
          View all categories -->
        </a>
      </div>
    </div>
    <div class="profile-bottom">
      <div class="profile-posts-header">

        <div class="profile-posts-left">
          <div class="profile-posts-title">
            Top Posts
          </div>
        </div>

        <div class="profile-posts-filters">
          <btn class="profile-posts-filter" onclick="filterSelection('all')">
            All
          </btn>
          <btn class="profile-posts-filter" onclick="filterSelection('profile-question')">
            Questions
          </btn>
          <btn class="profile-posts-filter" onclick="filterSelection('profile-answer')">
            Answers
          </btn>
        </div>

        <div class="bottom-line">
          <hr>
        </div>
      </div>
      <div class="profile-posts">
        <%= for post <- vote_sorted_posts(@user) do %>
          <%= if is_question(post) do %>
            <div class="profile-post profile-question">
              <div class="profile-post-type">
                Q
              </div>

              <div class="profile-post-votes">
                <%= if is_or_has_best_response(post) do %>
                  <div class="profile-post-votes-box" style="background-color: #5FBB7D; color: #FFFFFF; border: 1px solid #5FBB7D; border-radius: 3px;">
                    <%= vote_count(post) %>
                  </div>
                <% else %>
                  <div class="profile-post-votes-box" style="border: 1px solid #BABABA; border-radius: 3px;">
                    <%= vote_count(post) %>
                  </div>
                <% end %>
              </div>

              <div class="profile-post-question-title">
                <a href = "<%= question_path(@conn, :show, post) %>">
                  <%= title(post) %>
                </a>
              </div>

              <div class="profile-post-date">
                <%= date_posted(post) %>
              </div>
              <div class="profile-post-bottom-line">
                <hr>
              </div>
            </div>
          <% else %>
            <div class="profile-post profile-answer">
              <div class="profile-post-type">
                A
              </div>

              <div class="profile-post-votes">
                <%= if is_or_has_best_response(post) do %>
                  <div class="profile-post-votes-box" style="background-color: #5FBB7D; color: #FFFFFF; border: 1px solid #5FBB7D; border-radius: 3px;">
                    <%= vote_count(post) %>
                  </div>
                <% else %>
                  <div class="profile-post-votes-box" style="border: 1px solid #BABABA; border-radius: 3px;">
                    <%= vote_count(post) %>
                  </div>
                <% end %>
              </div>

              <div class="profile-post-question-title">
                <a href = "<%= question_path(@conn, :show, parent_question(post)) %>">
                  <%= parent_question(post) |> title() %>
                </a>
              </div>

              <div class="profile-post-date">
                <%= date_posted(post) %>
              </div>
              <div class="profile-post-bottom-line">
                <hr>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="profile-question-answer-link">
        View all
        <a href="<%= user_path(@conn, :show, @user, tab: "questions") %>">
          questions
        </a>
        and
        <a href="<%= user_path(@conn, :show, @user, tab: "answers") %>">
          answers
        </a>
        -->
    </div>
  </body>
</html>
