<html>
  <head>
  </head>
  <body>

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
          $("#" + "<%= @tab %>").css('border-top', 'solid #F69B55');
          $("#" + "<%= @tab %>").css('border-right', 'solid #EEEEEE');
          $("#" + "<%= @tab %>").css('border-left', 'solid #EEEEEE');
          $("#" + "<%= @tab %>").css('border-bottom', 'solid white');
          $("#" + "<%= @tab %>").css('border-width', '2px 1px 1px 1px');

          $(".account-tab").hover(function() {
            $(this).css('height', '57px');
          })

          $("#" + "<%= @tab %>").hover(function() {
            $(this).css('border-top', 'solid #F69B55');
            $(this).css('border-right', 'solid #EEEEEE');
            $(this).css('border-left', 'solid #EEEEEE');
            $(this).css('border-bottom', 'solid white');
            $(this).css('border-width', '2px 1px 1px 1px');
            $(this).css('height', '58px');
            $(this).css('margin-right', '5px');
            $(this).css('margin-left', '0px');
            $(this).css('margin-top', '0px');
          })
        });

    </script>

    <div class="activity-top">
      <div class="activity-reputation-block">
        <div class="activity-reputation-top">
          <div class="activity-reputation-name">
            REPUTATION
          </div>
          <div class="activity-reputation-data">
            <%= reputation(@user) %>
          </div>
        </div>

        <div class="activity-reputation-bottom">
          <div class="activity-category-intro">
            Top Category
          </div>
          <a class="category-tag" style="margin-left: 10px; margin-top: 10px;" href = "<%= question_path(@conn, :index, selected_category: top_categories(@user) |> List.first()) %>">
            <%= top_categories(@user) |> List.first() |> PlungerWeb.CategoryView.name() %>
          </a>

        </div>
      </div>
    </div>

    <div class="activity-bottom">
      <div class="account-header">
        <div class="account-header-left">
          <a class="account-tab" id="answers" href = "<%= user_path(@conn, :show, @user, tab: "answers") %>">
            answers
          </a>
          <a class="account-tab" id="questions" href = "<%= user_path(@conn, :show, @user, tab: "questions") %>">
            questions
          </a>
          <a class="account-tab" id="categories" href = "<%= user_path(@conn, :show, @user, tab: "categories") %>">
            categories
          </a>
        </div>
        <div class="bottom-line-account">
          <hr>
        </div>
      </div>

      <div class="activity-list">
        <%= case @tab do %>
          <%= "answers" -> %>
            <%= render "posted_answers.html", user: @user,
            conn: @conn, sort: @sort %>
          <%= "questions" -> %>
            <%=render "posted_questions.html", user: @user,
              conn: @conn, sort: @sort %>
          <%= "categories" -> %>
            <%= render "category_reputations.html", user: @user,
            conn: @conn, sort: @sort, categories: reputation_sorted_categories(@user) %>
        <% end %>
      </div>
    </div>
  </body>
</html>
