<html>
  <head>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/my_account.css") %>">
  </head>

  <body>
    <div class="title">
      <h2> My Account </h2>
    </div>
    <div class="top-block">
      <div class ="profile-image">
        <%= if @user.avatar == nil do %>
          <img src="/uploads/no_profile_image.gif" width=200 height=200/>
          <%= else %>
            <img src="<%= PlungerWeb.Avatar.url({@user.avatar, @user}) %>" width="200" height="200"/>
        <% end %>
      </div>

      <div class="account-info">
        <div class="user-info">
          <strong>Email:</strong>
          <%= @user.email %>
        </div>

        <div class="user-info">
          <strong>Name:</strong>
          <%= @user.name %>
        </div>

        <div class="user-info">
          <strong>Categories: </strong>
          <%= for category <- flagged_categories(@user) do %>
            <%= link name(category), to: category_path(@conn, :show, category) %>
          <% end %>
        </div>

        <div class="update-link">
          <a class ="btn pill" href="<%= user_path(@conn, :edit, @user) %>">Update</a>
        </div>

      </div>
    </div>

    <div class="info-panes">
      <div class="activity-info">
        <div class="circle yellow">
          <%= length(posted_questions(@user)) %>
        </div>
        <div class="info-title">
          Questions Posted
        </div>
      </div>

      <div class="activity-info">
        <div class="circle pink">
          <%= length(posted_responses(@user)) %>
        </div>
        <div class="info-title">
          Responses Posted
        </div>
      </div>

      <div class="activity-info">
        <div class="circle cyan">
          <%= length(posted_comments(@user)) %>
        </div>
        <div class="info-title">
          Comments Posted
        </div>
      </div>

      <div class="activity-info">
        <div class="circle red">
          <%= num_received_comments(@user) %>
        </div>
        <div class="info-title">
          Comments Received
        </div>
      </div>
    </div>
  </body>
</html>
