#title {
  font-size: medium;
  color: grey;
}

#description {
  margin-bottom: 10px;
  margin-top: 10px;
}

#show-category-link {
  vertical-align: bottom;
  text-align: bottom;
}

.about {
  font-size: large;
  display: inline-block;
  margin-bottom: 10px;
}

#summary {
  margin-top: 10px;
}

.category-stat {
  margin-top: 10px;
  margin-bottom: 10px;
}

#stats {
  font-size: large;
}

.category-stat-info {
  display: inline-block;
}

.category-stat-type {
  color: grey;
  display: inline-block;
}

.category-stats {
  margin-top: 20px;
}

.category-summary {
  border: solid;
  border-width: medium;
  border-color: lightgrey;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 5px;
}

.category-header {
  display: inline-block;
  width: 100%;
}

.category-page-title {
  height: 60px;
  font-size: large;
  display: inline-block;
  line-height: 60px;
}

.category-sort {
  padding-right: 8px;
  padding-left: 8px;
  margin-right: 5px;
  display: inline-block;
  height: 58px;
  line-height: 55px;
  color: grey;
}

.category-info-sort {
  border-top: solid #F69B55;
  border-right: solid #EEEEEE;
  border-left: solid #EEEEEE;
  border-bottom: solid white;
  border-width: 2px 1px 1px 1px;
  padding-right: 8px;
  padding-left: 8px;
  margin-right: 5px;
  display: inline-block;
  height: 58px;
  line-height: 55px;
  color: grey;
}

.category-info-sort:hover {
  border-top: solid #F69B55;
  border-left: solid #EEEEEE;
  border-right: solid #EEEEEE;
  border-bottom: solid white;
  border-width: 2px 1px 1px 1px;
  margin-right: 5px;
  margin-left: 0px;
  margin-top: 0px;
  height: 58px;
  text-decoration: none;
  color: grey;
  background-color: #F3F5F7;
}

.category-sorts {
  display: inline-block;
  float: right;
  height: 40px;
}

.category-sort:hover {
  border-top: 1px solid #F6F5F5;
  border-left: 1px solid #F6F5F5;
  border-right: 1px solid #F6F5F5;
  margin-right: 4px;
  margin-left: -1px;
  margin-top: -1px;
  height: 57px;
  text-decoration: none;
  color: grey;
  background-color: #F3F5F7;
}

.blue-button {
  -moz-box-shadow:inset 0px -3px 7px 0px #29bbff;
	-webkit-box-shadow:inset 0px -3px 7px 0px #29bbff;
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
	background:-moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
	background-color:#2dabf9;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:9px 24px;
	text-decoration:none;
	text-shadow:0px 0px 0px #263666;
  float: right;
}

.category-about-tag {
  display: inline-block;
  margin-left: 10px;
}

.blue-button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
	background:-moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
	background-color:#0688fa;
  text-decoration: none;
  color:#ffffff;
}

.category-index-tag {
  height: 140px;
  width: 227px;
  margin-right: 10px;
}

.category-index-tag-header {
  height: 20px;
  margin-top: 13px;
}

.new-category-container {
  width: 100%;
  height: 60px;
}

.category-question-count {
  display: inline-block;
  color: grey;
}

.category-index-list {
  margin-top: -10px;
}

.category-index-tag-body {
  margin-top: 10px;
  font-size: 10pt;
  height: 120px;
  margin-bottom: -31px;
}

.category-truncated-summary {
  color: #858C92;
  height: 60px;
}

.category-tag-posting-stats {
  margin-top: 3px;
}
