#title {
  font-size: medium;
  color: grey;
}

#description {
  margin-bottom: 10px;
  margin-top: 10px;
}

#show-category-link {
  vertical-align: bottom;
  text-align: bottom;
}

.about {
  font-size: large;
  display: inline-block;
  margin-bottom: 10px;
}

#summary {
  margin-top: 10px;
}

.category-stat {
  margin-top: 10px;
  margin-bottom: 10px;
}

#stats {
  font-size: large;
}

.category-stat-info {
  display: inline-block;
}

.category-stat-type {
  color: grey;
  display: inline-block;
}

.category-stats {
  margin-top: 20px;
}

.category-summary {
  border: solid;
  border-width: medium;
  border-color: lightgrey;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 5px;
}

.category-header {
  display: inline-block;
  width: 100%;
}

.category-page-title {
  height: 60px;
  font-size: large;
  display: inline-block;
  line-height: 60px;
}

.category-sort {
  padding-right: 8px;
  padding-left: 8px;
  margin-right: 5px;
  display: inline-block;
  height: 58px;
  line-height: 55px;
  color: grey;
}

.category-info-sort {
  border-top: solid #F69B55;
  border-right: solid #EEEEEE;
  border-left: solid #EEEEEE;
  border-bottom: solid white;
  border-width: 2px 1px 1px 1px;
  padding-right: 8px;
  padding-left: 8px;
  margin-left: 5px;
  display: inline-block;
  height: 58px;
  line-height: 55px;
  color: grey;
}

.category-info-sort:hover {
  border-top: solid #F69B55;
  border-left: solid #EEEEEE;
  border-right: solid #EEEEEE;
  border-bottom: solid white;
  border-width: 2px 1px 1px 1px;
  margin-left: 5px;
  margin-right: 0px;
  margin-top: 0px;
  height: 58px;
  text-decoration: none;
  color: grey;
  background-color: #F3F5F7;
}

.category-sorts {
  display: inline-block;
  float: right;
  height: 40px;
}

.category-sort:hover {
  border-top: 1px solid #F6F5F5;
  border-left: 1px solid #F6F5F5;
  border-right: 1px solid #F6F5F5;
  margin-right: 4px;
  margin-left: -1px;
  margin-top: -1px;
  height: 57px;
  text-decoration: none;
  color: grey;
  background-color: #F3F5F7;
}

.blue-button {
  background-color:#0395FE;
	border:1px solid #0278CC;
  border-radius: 4px;
  margin: -1px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:9px 18px;
	text-decoration:none;
	text-shadow:0px 0px 0px #263666;
  float: right;
}

.category-about-tag {
  display: inline-block;
  margin-left: 10px;
}

.blue-button:hover {
  background-color:#0278CC;
  border: 1px solid #02599A;
  text-decoration: none;
  color:#ffffff;
}

.category-index-tag {
  height: 140px;
  width: 227px;
  margin-right: 10px;
}

.category-index-tag-header {
  height: 20px;
  margin-top: 13px;
}

.new-category-container {
  width: 100%;
  display: flex;
  justify-content: center;

}

.category-question-count {
  display: inline-block;
  color: grey;
}

.category-index-list {
  margin-top: -10px;
}

.category-index-tag-body {
  margin-top: 10px;
  font-size: 10pt;
  height: 120px;
  margin-bottom: -31px;
}

.category-truncated-summary {
  color: #858C92;
  height: 60px;
}

.category-tag-posting-stats {
  margin-top: 3px;
}
