.comment {
  display: inline-block;
  margin-top: -10px;
  margin-bottom: -10px;
}

.comment-left {
  width: 40px;
  height: 100px;
  height: 100%;
  display: inline-block;
}

.comment-right {
  display: inline-block;
  vertical-align: top;
}

.vote-link {
  cursor: pointer;
  display: inline-block;
  color: #337BB8;
}

.vote-link:hover {
  text-decoration: underline;
  color: #25537B;
}

.comment-vote-count {
  margin-left: 8px;
  margin-top: 5px;
}

.comment-right-top {
  display: block;
  margin-bottom: 1px;
}

.upvote-comment {
  display: inline-block;
  width: 40px;
  height: 25px;
  cursor: pointer;
  background: url('http://i.stack.imgur.com/iqN2k.png');
  background-position: 0 -25px;
}

.downvote-comment {
  background : url('http://i.imgur.com/DdDtGWS.png');
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 25px;
  cursor: pointer;
  background-position: 0 -6px;
}

.vote-count-comment {
  display: inline-block;
  width: 15px;
  height: 18px;
  text-align: center;
  vertical-align: top;
  color: grey;
  font-size: medium;
}

.comment-body {
  display: inline-block;
  vertical-align: top;
  width: 500px;
  overflow-wrap: break-word;
}

.comment-on-comment {
  background: none;
  color: #357AB8;
  border: solid;
  cursor: pointer;
}

.comment-on-comment:hover {
  text-decoration: underline;
  color: #24527B;
}

.comment-container {
  margin-left: 50px;
}

.comment-on-comment-container {
  display: inline-block;
}
