.profile-image {
  display: inline-block;
  margin-right: 40px;
  vertical-align: top;
}

.top-block {
  display: inline-block;
}

.account-info {
  display: inline-block;
}

.circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  display: inline-block;
  margin-left: 30px;
  margin-right: 20px;
}

.info-title {
  display: inline-block;

}

.btn{
	text-decoration:none;
	color:#333333;
	font-size:12px;
	font-weight:bold;
	padding:0 15px;
	line-height:32px;
	height: auto;
	display:inline-block;
	text-align:center;
	background-color:#DDDDDD;
}

.btn.pill{
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}

.update-link {
  margin-top: 30px;
  text-align: center;
}

.btn:hover{
	background-color:#F6F6F6;
}

.yellow {
  background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
	background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
}

.red {
  background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, #a2f2ac 0%, #33ce46 100%, #03aa17 95%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, #a2f2ac, #33ce46);
	background-image: radial-gradient(45px 45px 45deg, circle cover, #a2f2ac 0%, #33ce46 100%, #03aa17 95%);
}

.pink {
  background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, pink 0%, purple 100%, purple 95%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, pink, purple);
	background-image: radial-gradient(45px 45px 45deg, circle cover, pink 0%, purple 100%, purple 95%);
}

.cyan {
  background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, cyan 0%, blue 100%, blue 95%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, cyan, blue);
	background-image: radial-gradient(45px 45px 45deg, circle cover, cyan 0%, blue 100%, blue 95%);
}

.activity-info {
  display: inline-block;
  width: 300px;
  margin-top: 20px;
  margin-right: 20px;
}

.user-info {
  margin-top: 20px;
}

.info-panes {
  display: inline-block;
}
