.index-left-block {
  width: 60px;
  height: 180px;
  display: inline-block;
}

.index-answers {
  text-align: center;
  color: #656A6E;
  margin-top: 10px;
}

.index-votes {
  text-align: center;
  color: #656A6E;
  margin-top: 10px;
}

.index-views {
  text-align: center;
  margin-top: 10px;
}

.index-number {
  font-size: large;
}

.index-question {
  display: inline-block;
}

.index-right-block {
  display: inline-block;
  vertical-align: top;
  width: 600px;
}

.index-title {
  font-size: large;
  display: block;
  margin-left: 10px;
  display: inline-block;
}

.index-page-title {
  height: 60px;
  font-size: large;
  margin-left: 10px;
  display: inline-block;
  line-height: 60px;
}

.index-sort {
  padding-right: 10px;
  padding-left: 10px;
  height: 60px;
  line-height: 30px;
  color: grey;
}

.index-sorts {
  float: right;
}

.index-body {
  margin-top: 15px;
  display: block;
  margin-left: 10px;
  width: 600px;
  overflow-wrap: break-word;
}

.index-category-tags {
  margin-top: 15px;
  display: block;
  margin-left: 10px;
  margin-bottom: 10px;
}

.new-question-button {
  margin-bottom: 10px;
}

.index-sort:hover {
  text-decoration: none;
  color: grey;
  background-color: #F3F5F7;
}

.index-user-tag-container {
  height: 90px;
}

.bottom-line {
  margin-top: -23px;
  border: solid;
}

.index-question-user-tag {
  display: inline-block;
  height: 90px;
  width: 210px;
  float: right;
  background-color: #E0EAF2;
}

.index-user-time-posted {
  left: 10px;
  position: relative;
  font-size: small;
  margin-top: 5px;
  margin-bottom: 5px;
}

.index-user-name {
  display: inline-block;
  left: 15px;
  position: relative;
}

.index-user-img {
  left: 10px;
  position: relative;
  display: inline-block;
}
