<ul>

  <li>
    <strong>Response:</strong>
    <%= @response.description %>
  </li>
  <li>
    <strong>Posted at: </strong>
    <%= get_date_time(@response) %>
  </li>
  <li>
    <strong>Posted by: </strong>
    <%= get_username(@response) %>
  </li>
  <li>
    <strong>Votes: </strong>
    <%= get_num_votes(@response) %>
  </li>

</ul>
