<html>

<head>
</head>
  <link rel="stylesheet" href="/assets/css/response.css">
<body>

  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript">
      $(document).ready(function(){

        $("#upvote-response").attr("id", "upvote-response" + "<%= id(@response) %>")
        $("#downvote-response").attr("id", "downvote-response" + "<%= id(@response) %>")
        $("#response-vote-count").attr("id", "response-vote-count" + "<%= id(@response) %>")
        $("#comment-on-response").attr("id", "comment-on-response" + "<%= id(@response) %>");
        $("#comment-on-response-form").attr("id", "comment-on-response-form" + "<%= id(@response) %>");
        $("#comment-on-response-form" + "<%= id(@response) %>").hide();

        var comment_button = $("#comment-on-response" + "<%= id(@response) %>");
        comment_button.hover(function(){
          $(this).css({"text-decoration": "underline"})
          $(this).css({"color": "#24527B"})
        })
        comment_button.css({'background': 'none'})
        comment_button.css({'border': 'none'})
        comment_button.css({'left': '40px'})
        comment_button.css({'color': '#357AB8'})
        comment_button.css({'margin-top': '20px'})
        $("#upvote-response" + "<%= id(@response) %>").click(function() {
          $.ajax({
              url: "<%= response_path(@conn, :upvote, @response, question_id: @question.id) %>",
              type: "GET",
              dataType: "json",
              success: function(data){
                  if (data.upvote_successful === true)
                  {
                    var count = parseInt($('#response-vote-count' + "<%= id(@response) %>").text());
                    $('#response-vote-count' + "<%= id(@response) %>").text(count + 1)
                  }
              },
              error: function(error){
                   console.log("Error:");
                   console.log(error);
              }
          });
        });

        $("#downvote-response" + "<%= id(@response) %>").click(function() {
          $.ajax({
              url: "<%= response_path(@conn, :downvote, @response, question_id: @question.id) %>",
              type: "GET",
              dataType: "json",
              success: function(data){
                  if (data.downvote_successful === true)
                  {
                    var count = parseInt($('#response-vote-count' + "<%= id(@response) %>").text());
                    $('#response-vote-count' + "<%= id(@response) %>").text(count - 1)
                  }
              },
              error: function(error){
                   console.log("Error:");
                   console.log(error);
              }
          });
        });

        $("#comment-on-response" + "<%= id(@response) %>").click(function() {
          $('#comment-on-response-form' + "<%= id(@response) %>").show();
        });
      });
  </script>

  <div class = "response">
    <div class="body-left">
      <div class="voting-block">
        <div class="upvote" id="upvote-response"></div>
        <div class="vote-count" id="response-vote-count">
            <%= vote_count(@response) %>
        </div>
        <div class="downvote" id="downvote-response"></div>
      </div>

      <%= if @response.is_best == true do %>
        <div class = "best-response-check">
          <img src= "<%= static_path(@conn, "/images/checkmark.png") %>" width=40 height=40/>
        </div>
      <% end %>

      <%= if @question.user_id == current_user(@conn).id and not @response.is_best do %>
        <div class="mark-response-button">
          <a href = "<%= response_path(@conn, :promote, @response, question_id: @question.id)%>">
            <img src= "<%= static_path(@conn, "/images/unchecked_checkmark.png") %>" width=40 height=40/>
          </a>
        </div>
      <% end %>
    </div>

    <div class="body-right">
      <%= description(@response) %>
    </div>

    <button id="comment-on-response">
      add a comment
    </button>

    <div class="response-user-tag">
      <div class = "user-time-posted">
        answered <%= time_posted(@response) %>
      </div>
      <div class = "user-img">
        <img src="<%= PlungerWeb.Avatar.url({user(@response).avatar, user(@response)}) %>" width="50" height="50"/>
      </div>
      <div class = "user-name">
        <%= link user_name(@response), to: user_path(@conn, :show, user(@response)) %>
      </div>
    </div>

  </div>

  <div class = "comments">
    <%= for comment <- PlungerWeb.ResponseView.list_comments(@response) do %>
        <%= render PlungerWeb.CommentView, "show.html", comment: comment, conn: @conn, question: @question, comment_changeset: @comment_changeset %>
    <% end %>
  </div>
  <div id="comment-on-response-form">
    <%= render PlungerWeb.CommentView, "form.html", conn: @conn,
      comment_changeset: @comment_changeset,
      action: comment_path(@conn, :create, parent_type: "response", question_id: @question.id, response_id: @response.id)
    %>
  </div>
  </body>
</html>
