<ul>

  <li>
    <strong>Comment:</strong>
    <%= @comment.description %>
  </li>
  <li>
    <strong>Posted at: </strong>
    <%= time_posted(@comment) %>
  </li>
  <li>
    <strong>Posted by: </strong>
    <%= associated_user_name(@comment) %>
  </li>
  <li>
    <strong>Votes: </strong>
    <%= vote_count(@comment) %>
  </li>

</ul>
